<div id="form">
  <h1>Welcome</h1>
  <p>This is your customized PshgfskgfkiujsDF content!</p>

  <form action="/action_page.php">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>
  </form>
</div>

<div #pdfContent id="pdf-content">
  <h1>Welcome</h1>
  <p>TTHIOHJDLKNOISHDGLKNSGDHOGNSLKDGO</p>
</div>

<select id="template-selector" [(ngModel)]="selectedTemplateIndex" (change)="loadSelectedComponent()">
  @for (template of templates; track template; let i = $index) {
    <option [value]="i">
      {{template.name}} {{i}}
    </option>
  }
</select>

<ng-container #templateHost></ng-container>

<button (click)="generatePdf()">Download PDF</button>
